%p Nur im Nullpad Dreizig

%h3 und du dachtest es wird nicht besser
%h1 Wohnung voll und alles Toll


.site-features
  %p Dolby Digital
  %p Kein 3d Quatsch
  %p Ordentlich Stoff
  %p 45qm Fläche

.credits
  %p 
    dagi feiert dicke sause mit allem was dazu gehört
    das ganze findet in meiner  wohnung statt
    und soll  einweihung meinen geburtstag zelebrieren
    uninvited special GUESTS sind wie immer die bullen

.date
  %h2 28.2.2014 - Abends
