.bumper
  %span
    Nur
    %span.light im
    %br/ 
    Nollenpad
    %br/ 
    Dreizig
%header
  .titlebox
    %h3.discription und du dachtest, es wird nicht besser
    %h1.maintitle
      Wohnung voll und alles Toll


.site-features
  %p.feature Dolby Digital
  %p.feature Kein 3d Quatsch
  %p.feature Ordentlich Stoff
  %p.feature 45qm Fläche

.credits
  %p 
    .big dagi
    feiert
    .big dicke sause
    mit
    .big allem
    was
    .big dazugehört.
    .big das ganze
    findet in
    .big meiner wohnung statt
    und soll meine
    .big einweihung
    und meinen
    .big geburtstag 
    zelebrieren.
    uninvited 
    .big special Guests 
    sind wie immer
    .big die bullen

.date
  %span 28.2.2014 Abends
